@model IEnumerable<SushiSite.Models.Food>;

@{
    ViewData["Title"] = "Home Page";
}

<div style="margin-top: 100px;">
    @if (Model.Any())
    {
        @foreach (var food in Model)
        {
            <div class="card border-primary mb-3" style="max-width: 20rem;">
                @if (food.Category != null)
                {
                   <div class="card-header">@food.Category.Name</div>

                }
                <div class="card-body">
                    <h4 class="card-title">@food.Title</h4>
                    <p class="card-text">@food.Description</p>
                </div>
            </div>
        }
    }
    else
    {
        <h1>List is empty!</h1>
        <img src="https://media.hswstatic.com/eyJidWNrZXQiOiJjb250ZW50Lmhzd3N0YXRpYy5jb20iLCJrZXkiOiJnaWZcL2ZlZWRpbmctY2F0LmpwZyIsImVkaXRzIjp7InJlc2l6ZSI6eyJ3aWR0aCI6ODI4fX19" />
    }
</div>